<!-- <p>bookandupdate works!</p> -->
<div class="section" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="matcard " fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="column" fxLayout.sm="column"
        fxFlex.xs="95" fxFlex.sm="60">
        <div class="update" fxLayout="row">
            <h2 *ngIf="" >Add book</h2>
            <h2 *ngIf="">Update book</h2>
            <h2 *ngIf="">Delete book</h2>
        </div>

        <div class="formcontainer">
            <form [formGroup]="bookandupdateForm">
                <div class="form" fxLayout="column" fxLayoutAlign="center center">

                    <div fxLayout="row" fxLayoutGap="20px">
                        <div class="bookname">
                            <div class="label">
                                <mat-label>Book Name</mat-label>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">

                                    <input type="text" formControlName="bookname" matInput placeholder="Book name...">
                                    <mat-error>book name must contain a Value</mat-error>
                                </mat-form-field>

                            </div>

                        </div>

                        <div class="bookname">
                            <div class="label">
                                <mat-label>AuthorName</mat-label>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">

                                    <input type="text" formControlName="author" matInput placeholder="specify author name">
                                    <mat-error>Specify author name</mat-error>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px">
                        <div class="bookname">
                            <div class="label">
                                <mat-label>Description</mat-label>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">

                                    <input type="text" formControlName="description" matInput placeholder="description of book">
                                    <mat-error> Description Must Contain A Value</mat-error>
                                </mat-form-field>

                            </div>

                        </div>

                        <div class="bookname">
                            <div class="label">
                                <mat-label>Quantity</mat-label>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">

                                    <input type="text" formControlName="quantity" matInput placeholder="quantity">
                                    <mat-error>Enter a quantity While  Adding new Book</mat-error>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="20px">

                        <div class="bookname">
                            <div class="label">
                                <mat-label>Actual Price</mat-label>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">

                                    <input type="text" formControlName="price" matInput placeholder="price..">
                                    <mat-error>Enter a price</mat-error>
                                </mat-form-field>

                            </div>

                        </div>

                        <div class="bookname">
                            <div class="label">
                                <mat-label>Discount Price</mat-label>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">

                                    <input type="text" formControlName="discountprice" matInput placeholder="discount..">
                                    <mat-error>Enter a discount price</mat-error>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>

                     <div style="margin-left: 30px;" fxLayoutAlign="start center">
                        <button mat-flat-button color="primary"  class="buttonadd">Add
                            book</button>&nbsp;
                        <button mat-flat-button color="pink"  class="addbutton">Update
                            book</button>

                    </div>


                </div>
            </form>

            <div style="margin-left: 30px;" fxLayoutAlign="end end">
                <button mat-flat-button color="" class="buttonclose">Cancel

                </button>
            </div>

        </div>
    </mat-card>
</div>