<!-- <p>register component works!</p> -->
<!-- <span class="headermain">BOOK STORE REGISTRATION</span> -->
<!-- <mat-toolbar  class="headermain"style="min-height:20px" > -->
 <p class="headermain"><img src="../../../assets/images/BookCover.png"alt="" class="mainimg"/>BOOK STORE REGISTRATION</p> 
 <!-- </mat-toolbar> -->
<div class="component">
    <div class="form-head">
      <div class="form-box">
        <div class="type" fxLayout="row">
          <mat-radio-group aria-label="Select an option">

          </mat-radio-group>
        </div>
        <button type="button" class="toggle-btn" routerLink="/login"><strong>LOGIN</strong></button>
        <button type="button" class="toggle-btn" ><strong>SIGNUP</strong></button>
        <hr id="Indicator">
      </div>
      <form id="signup" class="input-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <input type="text" class="input-field" id="name" placeholder="Name" formControlName="fullName" required>
          <input type="text" class="input-field" placeholder="Email" formControlName="email" required>
          <input type="text" class="input-field" placeholder="Password" formControlName="password" required>
          <input type="text" class="input-field" placeholder="Mobile No" formControlName="phone" required>
          <button type="submit" class="submit-btn">Sign Up</button>
      </form>
    </div>
      
      <div class="containter" fxHide.xs="true" fxHide.sm="true">
        <div class="header">
          <div class="img-box" fxHide.xs="true" fxHide.sm="true">
            <img class="online" src="../../../assets/images/first.png">       
            <span class="text-online"><strong>ONLINE BOOK SHOPPING</strong></span>
          </div>
         </div>
        </div>
</div>
