<div style="width: 100%; height: 100%;" >
  <mat-toolbar class="tool" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="titleText" fxLayout="row" fxLayoutGap="2%"  >
     
      <a  id="move" style="color: white;"><img src="../../../assets/images/BookCover.png" />BookStore</a>
      </div>
    <mat-card class="search-mat-card" fxLayout="row"fxLayoutAlign="space-around center" >
          <button mat-icon-button  >
            <mat-icon class="searchIcon" >search</mat-icon>
          </button>
          <input  class="searchInput"   type="text" name="search" placeholder="Search.." (keyup)="updateText($event)"/>
        </mat-card>
  <button class="cart" mat-icon-button   (click)="getcart()" matTooltip="Cart">Cart<mat-icon >shopping_cart</mat-icon></button>
  <button class="Menu" class="pro" mat-button [matMenuTriggerFor]="menu" >Profile
  <mat-icon class="searchIcon" >perm_identity</mat-icon></button> 
  <mat-menu #menu="matMenu" >
    <h3 style="text-align:center">Welcome!</h3>
    <p>To access account and manage orders</p>
    <button mat-menu-item >
      <div style="text-align:center">
        <button mat-button class="login" (click)="Logout()">LOGIN/SIGNUP</button>
       </div>
    </button>
    
    <mat-divider></mat-divider>
    <div style="text-align:center">
    <button  mat-button class="Orders" (click)="orders()">MyOrders
      <mat-icon>shopping_cart</mat-icon>
   
    </button>

    <div style="text-align:center">
      <button  mat-button class="Orders" (click)=" wishlist()">MyWishlist
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <div style="text-align:center">
      <button  mat-button class="Orders1" (click)=" Addbook()">AddBookpage
        <img  class="admin" src="../../../assets/images/Image 11@2x.png" />
      </button>
      
    </div>
    </div> 
</mat-menu>
</mat-toolbar>
  <router-outlet></router-outlet>

      
     

      
       <div class="footeralign">
        Copyright &copy; 2021 Bookstore Private Limited All Rights Reserved
      </div> 