.header{
    //justify-content: center;
    background-color: brown;
    color: white;
    font-size: large;
    // margin-right: 100px;
  }
  .marginmain{
      margin-left: 100px;
  }
  .forgotcenter{
      margin-top: 100px;
      text-align: center;
  }