<!-- <p>order works!</p> -->
<div>
    
    <div class="header">
        <h1 class="glow">hurray!!!</h1>
        <img class="place-order" src="../../../assets/images/placeOrder.png" alt="">
    </div>
    <div class="text">
        <marquee direction="right"scrollamount="12"id="marcol">You Order Was Placed
            </marquee>
        <p>hurray!!! your order is confirmed<br>the order id is #143456 save the order id for<br>further communication..
        </p>
    </div>
    <div>
        <table>
            <tr fxLayoutGap="0px">
                <th style="text-align:center">Email_Id</th>
                <th style="text-align:center">Contact us</th>
                <th style="text-align:center">Address</th>  
            </tr>
            <td style="text-align:center">admin@bookstore.com</td>
            <td style="text-align:center">+91 9731390823</td>
            <td style="text-align:center">22 ward, main gate, 15th Cross, satti road, Athani,Belagavi<br>
                market Yard, near 4th Agte Angol Udyambhag, Kale College,<br>Belagavi 590006</td>
        </table>
    </div>
    <div>
        <button class="btn-continue" routerLink="/dashboard/Getallbooks">CONTINUE SHOPPING</button>
    </div>
</div>