<div class="section" fxLayout="column">

    <mat-card class="wishlist" fxLayoutAlign="start center">
        <!-- <span>My Wishlist ({{countlist}})</span> -->
    </mat-card>
  
    <mat-card class="book" fxLayout="row" fxLayoutAlign="start center " fxFill >
  
        <div fxLayout="column" fxLayoutGap="20px">
            <div class="cartbook" fxLayout="row" fxLayoutAlign="start center">
  
                <div>
                    <div class="image" fxLayoutAlign="start center">
                        <img class="bookImage" src="../../../assets/Image 11@2x.png">
                    </div>
                </div>
  
                <div class="entirebook" fxLayout="column" fxLayout.sm="column">
  
                    <div class="bookname">
                        <!-- {{book.bookModel.bookName}} -->
                    </div>
                    <div class="author">
                        <!-- by {{book.bookModel.authorName}} -->
                    </div>
                    <div class="price" fxLayout="row" fxLayoutGap="10px">
                        <div class="discountprice">
                            <!-- Rs.{{book.bookModel.discountPrice}} -->
                        </div>
                        <div class="originalprice">
                            <!-- <del> Rs.{{book.bookModel.originalPrice}} </del> -->
                        </div>
                    </div>
  
                </div>
  
  
            </div>
  
        </div>
  
        <div class="rightdiv" fxLayout="column" fxLayoutAlign="end center">
  
            <img class="deleteimg" src="../../../assets/delete_black_24dp (1).svg">
  
        </div>
  
    </mat-card>
  
  </div>