<!-- <p>login component works!</p> -->

<div class="component">
    <div class="form-head">
      <div class="form-box">
        <div class="type" fxLayout="row">
          <!-- <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="admin" (click)="admin()">Admin</mat-radio-button>
            <mat-radio-button value="user" (click)="userReg()">User</mat-radio-button>
          </mat-radio-group> -->
        </div>
        <button type="button" class="toggle-btn">LOGIN</button>
        <button type="button" class="toggle-btn" routerLink="/register">SIGNUP</button>
        <hr id="Indicator">
      </div>
      <form id="login" class="input-group" [formGroup]="loginForm" (ngSubmit)="onSubmitloginForm()">
         <input type="text" class="input-field" placeholder="Email" formControlName="email" required>
         <input type="password" class="input-field" placeholder="Password" formControlName="password" required>
         <button type="submit" class="submit-btn">Log In</button>
         <h2><strong>OR</strong></h2>
         <!-- <span class="text">OR</span> -->
      <div class="choose-btn" fxLayout="column" fxLayoutAlign="space-between center">
        <div>
          <button type="submit" class="facebook-btn"onclick="location.href='https://www.facebook.com/';">Facebook</button>
        </div>
        <div>
          <button type="submit" class="google-btn"onclick="location.href='https://accounts.google.com/signin/v2/identifier?flowEntry=AddSession&hl=en&flowName=GlifWebSignIn';">Google</button>
        </div>
      </div>
      </form>
    </div>
    <div class="containter" fxHide.xs="true" fxHide.sm="true">
      <div class="header">
        <div class="img-box">
          <img class="online" src="../../../assets/images/first.png">       
          <span class="text-online"><strong>ONLINE BOOK SHOPPING</strong></span>
        </div>
       </div>
      </div>
</div>