
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout="row" fxLayout.xs="row">

    <div class="bookaligncount">
        <span class="books">Books</span>
        <span class="count">({{booksCount}} items)</span>
    </div>

   </div>
  
   <div class="books_list" fxLayout="row" fxLayoutAlign="center center">
    <div class="bookdata" *ngFor="let book of booklist " fxLayout.sm="column">
        <div class="bookimg">
            <img class="img1" src="../../../assets/images/Image 11@2x.png" (click)="quickview(book)">
        </div>
        <div class="bookname">
            {{book.bookName}}
        </div>
        <div class="author">
            by {{book.authorName}}
        </div>
        <div class="rating" fxLayoutAlign="space-evenly center">
            4.5<img class="Star" src="../../../assets/images/star.png" alt="">
        </div>
  
        <div class="quantity">
            ({{book.bookCount}})
        </div>
  
        <div class="price" fxLayout="row">
            <div class="discountprice">
                Rs.{{book.discountPrice}}
            </div>
            <div class="ActualPrice">
                <del> Rs.{{book.actualPrice}} </del>
            </div>
        </div>
  
        <div class="cartandwishlistbutton" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-evenly center">
            
                <div >
  
                    <!-- <button class="addtobag"  >
                        <img class="cartimg" src="../../../assets/images/Image 11@2x.png" alt="">
                    </button> -->
                </div>
                
            
  
                <div  fxLayout="row" fxLayoutAlign="start center">
  
                    <button class="wishlist" >
                        <mat-icon class="wishlistIcon">favorite</mat-icon>
                    </button>
                </div>
        </div>
  
    </div>
  
  </div>
  <div class="pagination" fxLayoutAlign="center center">
    <!-- <pagination-controls class="text-center my-pagination" (pageChange)="page = $event" ></pagination-controls> -->
  </div>
  