<!-- <p>getcart works!</p> -->
<div>
    <div class="container" fxLayout="column">
        <div class="header"  fxLayout="row">
            <p>Home/ My cart</p>
        </div>
        <div class="items" fxLayout="column">
            <div class="items_header">
                <div>My cart({{cartItemsCount}})</div>
                <div class="location">
                    <mat-form-field appearance="outline">
                        <mat-label><b>Use current loaction</b></mat-label>
                        <mat-select>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="book" *ngFor="let item of cartItems">
                <div><img class="bookImage" src="..\..\..\..\assets\images\book2x.png" alt=""></div>
                <div class="bookinfo">
                    <div class="bookName">{{item.BookId.bookName}}</div>
                    <div class="author">by {{item.BookId.authorName}}</div>
                    <div class="cost">
                        <p><b>Rs.{{item.BookId.discountPrice}}</b></p>
                        <p><s>Rs.{{item.BookId.price}}</s></p>
                    </div>
                    <div class="cart">
                        <button id="minus" (click)="minus(item)">-</button>
                        <p>{{book_quantity}}</p>
                        <button id="plus" (click)="plus(item)">+</button>
                        <span style="margin: 10px 15px;color: rgb(82, 80, 80);cursor: pointer;">Remove</span>
                    </div>
                </div>
            </div>
            <div class="button">
                <button class="order" (click)="showDetails()" *ngIf="show && cartItemsCount>=1">Place Order</button>
            </div>
            
        </div>
       
        <div class="address" fxLayout="column" ngClass.xs="address-xs">
            <p style="font-size: 15px;" *ngIf="address">AddressDetails</p>
            <div *ngIf="showCustomerDetails" class="customeraddress">
                <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                    <div class="customerHeader">
                        <p style="font-size: 20px;">Customer Details</p>
                        <button>Add New Address</button>
                    </div>
                    <div class="details" ngClass.xs="details-xs" ngClass.sm="details-xs">
                        <div class="fullName">
                            <mat-label>Full Name</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Full Name" formControlName="fullName" >
                                <mat-error>Enter Full Name</mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="fullName">
                            <mat-label>Mobile Number</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput type="text" placeholder="Mobile Number" formControlName="mobileNumber">
                                <mat-error>Enter Mobile Number</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="workAddress" ngClass.xs="workAddress-xs" ngClass.sm="workAddress-xs">
                        <p class="optionAddress">1.<b>Work</b>Edit</p>
                        <p>Address</p>
                        <textarea type="text" class="addressInput" ngClass.xs="addressInput-xs" ngClass.sm="addressInput-xs" formControlName="address"></textarea>
                        <div class="city" ngClass.xs="city-xs" ngClass.sm="city-xs">
                            <div class="fullName">
                                <mat-label>city/town</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="City/State" formControlName="city">
                                    <mat-error>Enter City Name</mat-error>
                                </mat-form-field>
                            </div>
                            
                            <div class="fullName">
                                <mat-label>state</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput type="text" placeholder="State" formControlName="state">    
                                    <mat-error>Enter State Name</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="homeAddress" ngClass.xs="homeAddress-xs" ngClass.sm="homeAddress-xs">
                        <p class="optionAddress">2.<b>Home</b></p>
                        <p><b>Address</b></p>
                        <p><b>BridgeLabz Solutions LLP, No.42, 14th Main, 15th Cross, Sector 4, Opp to BDA<br>
                            complex, near Kumarakom restaurant, HSR Layout, Bangalore</b></p>
                    </div>
                    <button type="submit" class="continue" (click)="showOrderDetails()">CONTINUE</button>
                </form>
            </div>
        </div>
        <div class="summary" fxLayout="column" ngClass.xs="summary-xs">
            <p *ngIf="summery">Order Summery</p>
            <div *ngIf="showSummeryDetails" class="showSummrey">
                <p style="font-size: 20px; margin-bottom: 20px;">Order Summery</p>
                <div class="book" *ngFor="let book of cartItems">
                    <div class="bookImg"><img src="..\..\..\..\assets\images\Image1.png" alt=""></div>
                    <div class="bookinfo">
                        <div style="font-size: 20px; color: rgb(77, 77, 74); margin-bottom: 5px;">
                            {{book.product_id.bookName}}</div>
                        <div style="font-size: 14px; color: rgb(187, 187, 183); margin-bottom: 5px;">by
                            {{book.product_id.author}}</div>
                        <div class="cost">
                            <p><b>Rs.{{book.product_id.discountPrice}}</b></p>
                            <p><s>Rs.{{book.product_id.price}}</s></p>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="order1" ngClass.xs="order1-xs" ngClass.sm="order1-xs" (click)="ordersummary()">CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>
</div>